.cart__container{
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;

  h1{
    margin: 0;
    letter-spacing: 1px;
    width: 100%;
    flex: 0 1 auto;
  }
}

.cart__products-container {
  width: 100%;
  height: 100%;
  padding: 30px;
  text-align: center;
  flex: 1 1 auto;
  display: flex;

  .cart__products-list {
    flex: 1 1;
    margin-right: 35px;
  }

  .cart__summary-container {
    width: 300px;
    box-shadow: inset 1px 0 #e5e5e5;
    height: 100%;
  }
}

.cart__product-item {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 1fr;
  box-shadow: inset 0 -1px 0 0 #e5e5e5;
  padding: 10px 0;

  > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .prd-image{
    grid-column-start: 1;

    img{
      width: 100px;
    }
  }

  .prd-title{
    grid-column-start: 2;

    .-subtitle1, .-subtitle2{
      color: gray;
      font-size: 0.8rem;
    }
  }

  .prd-price{
    grid-column-start: 3;
  }

  .prd-actions{
    img:hover{
      cursor: pointer;
    }
  }
}

