header{
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding-left: 8px;
  padding-right: 8px;
  box-shadow: inset 0 -1px 0 0 #e5e5e5;
  background: #fff;
  line-height: 80px;
  z-index: 100;
  display: flex;
}

header img{
  width: 80px;
  vertical-align: middle;
  margin-right: 20px;
  margin-left: 20px;
}

.admin{
  margin-left: auto;
}

.admin img{
  width: 20px;
}