body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #fff;
}

* {
  box-sizing: border-box;
}

#root {
  height: 100vh;
}

input[type="submit"], .button{
  
  text-align: center;
  padding: .7rem 2rem;
  background: #111;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 1.1rem;
  transition: .5s;
  text-decoration: none;
  border-radius: 30px;
  margin-bottom: 10px;
  border: 1px solid #111;
  outline: none;
}

input[type="submit"].-small, .button.-small{
  padding: .3rem 1rem;
  font-size: 0.8rem;
}

input[type="submit"]:hover, .button:hover {
  color: #111111;
  background: #fff;
  border: 1px solid #ececec;
  cursor: pointer;
}

.button.-secondary {
  background: #fff;
  color: #111;
  border: 1px solid #111;
}

.button.-secondary:hover{
  background: #111;
  color: #fff;
  border: 1px solid #111;
}


.form-group {
  margin-bottom: 30px;
}

.form-group label{
  font-weight: 600;
  display: block;
  min-width: 100px;
  font-size: 16px;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.form-group input[type="text"], .form-group input[type="password"], .form-group input[type="email"]{
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
  height: 3rem;
  outline: none;
  padding: 0 10px;
  letter-spacing: 1px;
}
